<section class="container mt-3">
        <h2 class="mb-4 text-left">
            {{ esActualizacion() ? 'Actualizar Usuario' : 'Nuevo Usuario' }}
        </h2>

        <form (submit)="getDataForm($event)" class="formulario-usuario">
            <div class="my-2">
                <label for="first_name" class="form-label">Nombre</label>
                <input class="form-control" type="text" id="first_name" placeholder="Introduce tu nombre"[formField]="formulario.first_name">
            </div>

            <div class="my-2">
                    <label for="last_name" class="form-label">Apellidos</label>
                    <input class="form-control" type="text" id="last_name" placeholder="Introduce tus apellidos" [formField]="formulario.last_name">
            </div>

            <div class="my-2">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input class="form-control" type="text" id="username" placeholder="Introduce tu username" [formField]="formulario.username">
            </div>

            <div class="my-2">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" id="email" placeholder="Introduce tu email"[formField]="formulario.email">
            </div>

            <div class="my-2">
                <label for="image" class="form-label">Imagen (URL)</label>
                <input class="form-control" type="url" id="image" placeholder="Introduce la URL de tu imagen"[formField]="formulario.image">
            </div>

            <div class="d-flex gap-2 mt-4">
                <input type="submit" [value]="esActualizacion() ? 'Actualizar' : 'Guardar'" class="btn btn-danger">
                <a [routerLink]="['/home']" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
</section>